<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-program-version-heading" data-cy="ProgramVersionCreateUpdateHeading">Create or edit a Program Version</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let versionRef = editForm.get('version')!;
        <div class="mb-3">
          <label class="form-label" for="field_version">Version</label>
          <input type="number" class="form-control" name="version" id="field_version" data-cy="version" formControlName="version" />
          @if (versionRef.invalid && (versionRef.dirty || versionRef.touched)) {
            <div>
              @if (editForm.get('version')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('version')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let isActiveRef = editForm.get('isActive')!;
        <div class="mb-3">
          <label class="form-label" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
          @if (isActiveRef.invalid && (isActiveRef.dirty || isActiveRef.touched)) {
            <div>
              @if (editForm.get('isActive')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_publishDate">Publish Date</label>
          <div class="input-group">
            <input
              id="field_publishDate"
              data-cy="publishDate"
              type="text"
              class="form-control"
              name="publishDate"
              ngbDatepicker
              #publishDateDp="ngbDatepicker"
              formControlName="publishDate"
            />
            <button type="button" class="btn btn-secondary" (click)="publishDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_program">Program</label>
          <select
            class="form-control"
            id="field_program"
            data-cy="program"
            name="program"
            formControlName="program"
            [compareWith]="compareProgram"
          >
            <option [ngValue]="null"></option>
            @for (programOption of programsSharedCollection; track $index) {
              <option [ngValue]="programOption">{{ programOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
