<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-user-site-organisation-heading" data-cy="UserSiteOrganisationCreateUpdateHeading">
        Create or edit a User Site Organisation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label for="field_roles">Roles</label>
          <select
            class="form-control"
            id="field_roles"
            data-cy="roles"
            multiple
            name="roles"
            formControlName="roles"
            [compareWith]="compareRole"
          >
            @for (roleOption of rolesSharedCollection; track $index) {
              <option [ngValue]="roleOption">{{ roleOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUserTemp">
            <option [ngValue]="null"></option>
            @for (userTempOption of userTempsSharedCollection; track $index) {
              <option [ngValue]="userTempOption">{{ userTempOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_siteOrganisation">Site Organisation</label>
          <select
            class="form-control"
            id="field_siteOrganisation"
            data-cy="siteOrganisation"
            name="siteOrganisation"
            formControlName="siteOrganisation"
            [compareWith]="compareSiteOrganisation"
          >
            <option [ngValue]="null"></option>
            @for (siteOrganisationOption of siteOrganisationsSharedCollection; track $index) {
              <option [ngValue]="siteOrganisationOption">{{ siteOrganisationOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
